* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #9595958f;
    --secondaryBackground: #3939338c;
    --text: #0e0000;
    --litered: #84594a97;
    --red: #342828;
    --black:black;
}

body { 
    background-color: var(--background); /* Fallback background color */
    color: var(--text);
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
    margin: 120px auto 0 auto;
    background-color: var(--background);
}

.stats-container {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--litered);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

#progressBar {
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
}

#progress {
    width: 80%;
    height: 10px;
    background-color: var(--black);
    border-radius: 10px;
    transition: all 0.3s ease;
}

#numbers {
    width: 100px;
    height: 100px;
    background-color: var(--litered);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

input[type="text"],
input[type="date"],
select {
    flex: 1;
    padding: 16px;
    background-color: var(--secondaryBackground);
    border: 1px solid var(--litered);
    border-radius: 10px;
    outline: none;
    color: var(--text);
    font-size: 14px;
    color: black;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--litered);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 16px;
}

ul#task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.taskItem {
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task p {
    margin: 0;
    font-size: 20px;
}

.task .deadline {
    font-size: 16px;
    color: var(--red);
}

.task .priority {
    font-size: 14px;
    color: var(--red);
}

.taskItem img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}
